<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Total Price</th>
  </tr>
  <%= render partial: "/shared/line_item", locals: {line_items: @cart.line_items} %>
  <tr>
    <td colspan="3">Total</td>
    <td><%= number_to_currency(this_parent.line_items_total, :locale => 'en-GB') %></td>
  </tr>
</table>