<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Total Price</th>
  </tr>
  <% if @cart.line_items.present? %>
      <% line_items.each do |line_item| %>
          <% if line_item.present? %>
                <%= render partial: "/shared/line_item", locals: {line_item: line_item, controller_name: controller_name } %>
          <% end %>
      <% end %>
      <tr>
        <td colspan="3">Total</td>
        <td><%= number_to_currency(this_parent.line_items_total, :locale => 'en-GB') %></td>
      </tr>
  <% else %>
      <tr><td colspan="4">No item </td></tr>
  <% end %>

</table>