<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h2>Your Cart</h2>
<ul>
  <% @line_items.each do |item| %>
      <li><%= item.quantity %> &times;<%= item.product.title %></li>
      <li>unit : <%= item.unit_price %> -total : <%#= item.product.total_price %></li>
  <% end %>
</ul>
