<%= render partial: "shared/product_show", locals: {product: @product} %>

<p>Listed on <%= @product.created_at %> by <%#= product.user.username %></p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
