<div class="col-md-8" id="product-detail">
  <%= render partial: "shared/product_show", locals: {product: @product} %>
</div>

<div class="col-md-4">

  <div id="cart-form">
    <h4>Add to Your Cart</h4>
    <%= render partial: "add_cart_form" %>
  </div>
  <div id="cart-status"> </div>



  <!--<h3><%#= link_to 'My Cart', cart_path(@cart), role: "button", class: "btn btn-primary active" %></h3>-->
  <div id="shopping-cart">
    <% if @cart.present? %>
        <%= render partial: "/shared/line_items_show", locals: {line_items: @cart.line_items, this_parent: @cart, controller_name: "stores"} %>
    <% end %>
  </div>


</div>




