<div class="col-md-8" id="product-detail">
  <%= render partial: "shared/product_show", locals: {product: @product} %>
</div>

<div class="col-md-4">

  <div id="cart-form">
    <h4>Add to Your Cart</h4>
    <%= render partial: "add_cart_form" %>
  </div>
  <div id="cart-status"> </div>

  <div id="shopping-cart">
    <% if @cart.present? %>
        <h3>My Cart</h3>
        <%= render partial: "/shared/line_items_show", locals: {line_items: @cart.line_items, this_parent: @cart} %>
    <% end %>
  </div>

</div>




